# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

default: &default
  site_name: Viode
  email_from: 'viode-noreply@example.net'
  image_processor: GraphicsMagick

  # Question and answer votes
  votes:
    upvote_value: 1
    downvote_value: -1

  # User points
  points:
    # when a new user registers
    initial: 100
    # when user's question gets starred
    star: 2
    # when user's answer gets voted
    answer: 10
    # when user's question gets voted
    question: 10

development:
  <<: *default
  secret_key_base: 2a42d35d0c1afb72dee8645125ee0e8e22b5af7d2301f387c9bcf74d9988b47ea2c2ef45b15c99a4981e8b621a3c0e93988617ba17ba8248cf93d5f68e2f61c3
  devise_secret_key: f9dc7e9eca9da8b6d6f5a79b4507cfc56a9e0cfed1381c2a09c1f0701040c276deea4941336de5b66f59fd3af9f3e311f3f45c10ceef6546e4fa7c46b6615f4d

test:
  <<: *default
  secret_key_base: 17f58d989211f9e5fbde9448def2d7ffd9317c74295abf6e2c129bdfc740d92388ea2d6f607022e6a943ed59a18ad3eaa8f391a72bec8216886a16a7650e42ca
  devise_secret_key: 27b333d73cbfe51bcc8e337fc295204e31da810f7a166f5f34886c948b8402e2efb1f137eb923dfddd3a0398dfb5d81fda23a2266ba63aec89dee3e026cf94f0

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  <<: *default
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  devise_secret_key: <%= ENV["DEVISE_SECRET_KEY"] %>
